<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>WebATM</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <h1>Balance</h1>
<!--       
      <form action="#" th:action="@{/}" th:object="${op}" method="post">
      
          <p>Acct #: <input type="text" th:field="*{acct}" /><span th:if="${#fields.hasErrors('acct')}" th:errors="*{acct}">Acct Error</span></p>
          <p>Action: <input type="text" th:field="*{act}" /><span th:if="${#fields.hasErrors('act')}" th:errors="*{act}">Act Error</span></p>
          <p>Amount: <input type="text" th:field="*{amt}" /><span th:if="${#fields.hasErrors('amt')}" th:errors="*{amt}">Amt Error</span></p>
          <p>Reason: <input type="text" th:field="*{reason}" /><span th:if="${#fields.hasErrors('reason')}" th:errors="*{reason}">Reason Error</span></p>
          
          <p><input type="submit" value="Submit" /> </p>
      </form>
       -->
  </body>
</html>
