<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>WebATM</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
      <h1>ATM Menu</h1>
      <br />
      <h2>Enter Your Account Number and Select an Option (1 to 4):</h2>
      <ol>
      <li>Deposit</li>
      <li>Withdrawal</li>
      <li>Transaction History</li>
      <li>Balance</li>
      </ol>
      <form action="#" th:action="@{/}" th:object="${WebData}" method="post">
      
          <p>Acct #: <input type="number" th:field="*{acct}" /><span th:if="${#fields.hasErrors('acct')}" th:errors="*{acct}">Acct Error</span></p>
          <p>Action: <input type="text" th:field="*{act}" /><span th:if="${#fields.hasErrors('act')}" th:errors="*{act}">Act Error</span></p>
          
          <p><input type="submit" value="Submit" /> </p>
      </form>
      
  </body>
</html>
